body{
	font:1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	word-spacing:2px;
	background-color:#c5c2c2;
	margin:0;
}

#main {
	margin:0 10% 0 300px;
	padding:20px;
}

#sidebar {
	width:250px;
	height:620px;
	float:left;
	padding:20px 20px 69px 20px;
	border-right:5px solid #181818;
}
#sidebar a{
	color:rgb(0, 0, 0);
	border:none;
}
#navigation_menu a{
	display:block;
	color:#6e6658;
}

a{
	text-decoration: none;
	font-weight:bold;
}

ol li{
	margin:15px 0 15px 0;
}

.header{
	color:#000000
}
#main_header{
	padding:30px;
	text-align:left;
	background-color:#181818;
}
#main_header a{
	color:#948383;
}

#footer {
	color: #948383;
	width: 1860px;
	height:12px;
	padding:30px;
	text-align:center;
	background-color:#181818;
	position: absolute; 
	bottom: 0;
}
#footer a {
	color: white;
}